/* CSS Document */
#cuerpo_Reg{
	background-color: #E8EAEE;
}

.contenedor {
    display: flex;
    flex-direction: column;
	width: 90%
}

.imagen {
  display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-left: 25px;
	
}

.image{
	border-radius: 25px;	
	width: 175px;
	
}

.info {
  margin-left: 10px;
}


.Info-imagen{
	display: flex;
}

#abc{
	background-color: #507B3C;
}